<!DOCTYPE html>
<html>
<head>
	<title>Tiff</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tiff</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cerrar Sesión</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
	<div class="bs-docs-section">

	<div class="row">
		<div class="col-lg-3">

		</div>
		<div class="col-lg-9"><br>
			
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-primary">
				    <input type="checkbox" autocomplete="off"> <
				  </label>
				  <label class="btn btn-primary">
				    <input type="checkbox" autocomplete="off"> >
				  </label>
			</div>
			<button class="btn btn-primary" ><ion-icon name="refresh"></ion-icon></button>
			<button class="btn btn-primary" ><ion-icon name="home"></ion-icon></button>
			<input class="form-control-plaintext" style="float:right;width: 74%;" placeholder="Ruta..." type="text" value="<%= ruta %>">
			<p style="float:right;padding-right:10px;">../</p>

			<br><br>
			<table class="table table-hover">


				<tr>
					<th>Nombre</th>
					<th>Peso</th>
					<th></th>
				</tr>
					<% for(var i=0; i < Object.keys(file).length; i++) { %>
			   		<tr>
	     				<td><ion-icon name="<%= detectType(file[i].tipo) %>"></ion-icon> <%= file[i].nombre %></td>
	     				<td><%= file[i].peso.toFixed(2) %> MB</td>
	     				<td style="text-align: right;">
	     					<button class="btn btn-success">Descargar</button>
	     					<button class="btn btn-danger">X</button>
	     				</td>
	   				</tr>
					<% } %>
			</table>
		</div>
	</div>
</div>
</div>

<script src="https://unpkg.com/ionicons@4.2.6/dist/ionicons.js"></script>
</body>
</html>